extends ../main

block variables
	- var title = 'Главная страница';
	- var pageClass = 'home-page';

block content
	+b.SECTION.hero(style='background:#FDF10F url(img/lorem/poster.png) no-repeat center bottom;')
		.container
	
	
	+b.SECTION.log-in
		.container
			+e.inner.inner
				+e.col.col-l
					+e.IMG.img(src="img/lorem/log-in.png" alt="")
				+e.col.col-r
					+e.H2.title Увійдіть,
						br
						| щоб взяти участь у конкурсі
					+b.FORM.form
						+e.fieldset.form-item.valid
							label Ім'я
							+e.INPUT(type="text" name="name").name
							.help-block Введіть ім'я
						+e.fieldset.form-item.valid
							label Номер телефону
							+e.INPUT(type="tel" name="phone").phone
							.help-block Введіть телефон
						+e.A(href="#popupCode").btn.popupBtn Увійти
	+b.SECTION.rules
		.container
			+e.inner.inner
				+e.DIV.title.title(id='rules') Умови конкурсу
				+e.steps
					+b.DIV.step
						+e.DIV.num 01
						+e.IMG.img(src='img/lorem/01.png' alt='')
						+e.DIV.text Ввійдіть у конструктор ідеального луку
					+b.DIV.step
						+e.DIV.num 02
						+e.IMG.img(src='img/lorem/02.png' alt='')
						+e.DIV.text Cтворюйте новий образ відправте свій варіант 5 подругам
					+b.DIV.step
						+e.DIV.num 03
						+e.IMG.img(src='img/lorem/03.png' alt='')
						+e.DIV.text Отримайте гарантовані 500 бонусів на карту Мозаїки і беріть участь у розіграші головних призів
	+b.SECTION.prisec
		.container
			+e.inner.inner
				+e.col.col
					+e.title.title(id='prisec') Подарунки
					+e.items-outer
						+e.items-inner
							+b.item.item_first
								+e.IMG.img(src='img/lorem/prises-1.png' alt='')
								+e.P.text Набір для догляду за зубками і не тільки
								+e.info
									+e.desc Тример Veet для бритья женский
									+e.desc Гель для бритья Gillette Satin Care женский для чувствительной кожи, 200мл
									+e.desc MAY body Бальзам после депиляции 150 мл
							+b.item.item_second
								+e.IMG.img(src='img/lorem/prises-2.png' alt='')
								+e.P.text Набір для догляду за ніжкамии і не тільки
								+e.info
									+e.desc Тример Veet для бритья женский
									+e.desc Гель для бритья Gillette Satin Care женский для чувствительной кожи, 200мл
									+e.desc MAY body Бальзам после депиляции 150 мл
				+e.col.col
					+e.P.text Quisque velit risus, scelerisque ut volutpat a, pellentesque ut enim. Donec ligula mi, aliquet quis erat pellentesque, imperdiet dictum neque. Praesent et elit nec ex ultrices semper eget at eros. Fusce eu fringilla enim. Morbi dignissim nunc a enim lobortis ultricies id at ligula. Nunc eget nisi sit amet magna tempor bibendum. Aliquam iaculis vel mauris in blandit. Integer luctus in enim dapibus euismod. In risus libero, tristique at fermentum nec, suscipit vel diam. Morbi sit amet fringilla ligula. Sed at neque ipsum. Vestibulum vel erat neque. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
	+b.SECTION.partners
		.container
			+e.title.title(id='partners') Партнери
				//- span
				//- 	include ../../static/img/svg/scrollGreen.svg
			+e.cards
				+b.card
					+e.IMG(src='img/lorem/partner1.png' alt='').img
				+b.card
					+e.IMG(src='img/lorem/partner2.png' alt='').img
				+b.card
					+e.IMG(src='img/lorem/partner3.png' alt='').img
			+e.A(href='').link офіційні правила


	




					






