.share-look-page
	padding-top 0
	&__top
		margin-bottom 360px
		padding-top 260px
		background-color #FF9C56
		position relative
		&:before
			content ''
			display block
			position absolute
			width 100%
			height 500px
			left 0
			bottom 0
			background url('../img/lorem/orange-bg2.png') no-repeat bottom left
			background-size cover
			z-index -1
			+mw(1920px)
				height 530px
				bottom -520px
				width 100%
			+mw(1880px)
				height 500px
				bottom -490px
			+mw(1380px)
				height 450px
				bottom -440px
			+mw(480px)
				height 350px
				bottom -340px
		+mw(880px)
			padding-top 80px
		+mw(480px)
			padding-top 60px
			min-height 895px


.share-form
	max-width 930px
	margin 0 auto
	text-align center
	input
		width 290px
		padding 5px 20px
		font-size 14px
		font-weight normal
		border 1px solid transparent
		border-radius 50px
	&__title
		font-size 24px
		text-transform uppercase
		font-weight 700
		margin-bottom 80px
		color #fff
		text-align center
	&__row
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		align-items center
	.fieldset
		&.has-error
			input
				border-color red
				color red
			.help-block
				opacity 1
	.help-block
		padding 10px 10px 0
		color red
		opacity 0
		transition opacity .3s ease
	&__show-btn
		text-align center
		color #fff
		margin-bottom 30px
		padding-bottom 5px
		cursor pointer
		border-bottom 1px dashed transparent
		transition border .3s ease
		display inline-block
		&:hover
			border-color #fff
	&__hidden
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		align-items center
		flex-wrap wrap
		margin-bottom 60px
	&__section
		&_checkbox
			cursor pointer
			margin-top 60px
			input
				display inline-block
				vertical-align middle
				opacity 0
				position absolute
				z-index -1
				left 0
				&:checked + label
					svg
						transform translateX(-89%)
					.grey
						fill #67CA3E
			label
					font-size 14px
					display block
					width 96px
					height 50px
					border-radius 50px
					position relative
					cursor pointer
					transition color .3s ease
					text-align center
					background-color #fff
					margin auto
					svg
						transition color .5s ease
						position absolute
						right 0
						bottom 0
					.grey
						fill #D2D2D2

	&__btn
		color #fff
		text-align center
		margin 85px auto
		width 370px
		padding 15px
		background-color transparent
		border-radius 50px
		border 1px solid #fff
		cursor pointer

