mixin header(data)
	+b.HEADER.header#header
		+e.container
			a.logo(href="/"): img(src="img/svg/logo.svg", alt="logo")
		
			.isDesctop
				+e.NAV.nav.headerNav
					ul
						li: a.navBtn.scroll(href="#rules") як виграти
						li: a.navBtn.scroll(href="#prisec") Подарунки
						li: a.navBtn.scroll(href="#partners") Партнери
						li: button.navBtn.menu-item-has-children(data-projects-desc) Проекти

			+b.progects.navPopup#progectsPopup
				.container
					+e.wrap
						+e.A.item(href="https://sport.eva.ua/")
							.img(style="background-image:url(img/lorem/challenge.png)")
							span.text EVA Woman Challenge
						+e.A.item(href="https://mozayka.com.ua/")
							.img(style="background-image:url(img/lorem/mozaika.png)")
							span.text Програма лояльності<br> "Мозаїка"
						+e.A.item(href="https://academy.eva.ua/")
							.img(style="background-image:url(img/lorem/blogger_course.png)")
							span.text  EVA Academy
						+e.A.item(href="https://evaportal.com.ua/")
							.img(style="background-image:url(img/lorem/eva_blog.png)")
							img.decor(src="img/decor.png", alt="")
							span.text Блог Beauty & Care
						+e.A.item(href="https://charity.mozayka.com.ua/")
							.img(style="background-image:url(img/lorem/charity.png)")
							span.text Благодійність
						+e.A.item(href="https://evahappyma.com.ua/")
							.img(style="background-image:url(img/lorem/eva_clab.png)")
							span.text  Клуб Щаслива мама
					+e.A.logo(href=""): img(src="img/svg/logo.svg", alt="eva")

			.hamburger#hamburger
				span

		//- .hamburger#hamburger
		//- 	span

		//- мобильный хедер
		.isMobile

			+b.hidden-header
				+e.A.logo(href=""): img(src="img/svg/logo.svg", alt="eva")
				+e.top
					+e.NAV.nav
						ul
							li: a(href="#rules") як виграти
							li: a(href="#prisec") Призи
							li: a(href="#partners") Партнери

				+e.bottom
					+e.NAV.nav
						ul
							li.menu-item-has-children
								span(data-projects-mob) Проекти
								ul
									li: a(href="https://sport.eva.ua/") EVA Woman Challenge
									li: a(href="https://mozayka.com.ua/") Програма лояльності  "Мозаїка"
									li: a(href="https://academy.eva.ua/") EVA Academy
									li: a(href="https://evaportal.com.ua/") Блог Beauty & Care
									li: a(href="https://charity.mozayka.com.ua/") Благодійність
									li: a(href="https://evahappyma.com.ua/") Клуб Щаслива мама
				

					+e.UL.sosial.sosial
						a(href='').sosial__item.sosial__item_fb
							include ../../static/img/svg/icons/fb.svg
						a(href='').sosial__item.sosial__item_youtube
							include ../../static/img/svg/icons/youtube.svg
						a(href='').sosial__item.sosial__item_viber
							include ../../static/img/svg/icons/viber.svg
						a(href='').sosial__item.sosial__item_insta
							include ../../static/img/svg/icons/insta.svg

